body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background: #f0f4f7;
}

section {
  margin-bottom: 30px;
  padding: 10px;
  background: #ffffff;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input, button {
  margin: 5px 0;
  padding: 8px;
  width: 100%;
  max-width: 300px;
}

* {
  background-color: rgb(223, 223, 238);
}
